/* Alert messages
   ========================================================================== */

/**
 * Alert labels.
 *
 * Example HTML:
 *
 * <span class="information">
 * <span class="information">
 */

.information {
    color: $color-info-text;
}

/**
 * Alert boxes.
 *
 * 1. Prevent really, really long words from breaking layout.
 *
 * Example HTML:
 *
 * <p class="alert-block information">
 */

.alert-block {
    padding: 0.25em 0.5em;
    border: 1px solid;
    border-radius: $border-radius / 2;
    word-wrap: break-word; /* 1 */

    &.information {
        border-color: $color-info-border;
        background: $color-info-background;
    }
}
