/* Navigation
   ========================================================================== */

/**
 * Style mobile first version of the navigation menu. Desktop version will
 * override some rules with extra styling in subsequent breakpoint.
 *
 * Example HTML:
 *
 * <nav id="site-navigation">
 *     <ul>
 *         <li class="active"><a></li>
 *         <li><a></li>
 *         <li><a></li>
 *     </ul>
 * </nav>
 */

#site-navigation {
    .js & {
        display: block;
        max-height: 0;
        transition: max-height 0.33s ease-in-out;
        overflow: hidden;
        clip: rect(0 0 0 0); // TODO: Deprecated - use `clip-path` when browser support is better.
        //clip-path: inset(50%); // TODO: Currently causes severe performance issues in Chrome.
    }

    &.site-navigation-open {
        max-height: 16em;
        transition: max-height 0.33s ease-in-out;
    }

    h5 {
        margin: 0.5em 0 0;
    }

    ul {
        padding: 0;
        list-style: none;
    }

    .active {
        position: relative;

        &::before {
            position: absolute;
            left: -2em;
            width: 1.5em;
            height: 1.5em;
            border-radius: 0.25em;
            background: rgba($color-link-focus, 0.25);
            content: "";
            z-index: 2001;
        }
    }
}
