/* Navigation
   ========================================================================== */

/**
 * Style mobile first version of the navigation menu. Desktop version will
 * override some rules with extra styling in subsequent breakpoint.
 *
 * Example HTML:
 *
 * <nav id="site-navigation">
 *     <ul>
 *         <li class="active"><a></li>
 *         <li><a></li>
 *         <li><a></li>
 *     </ul>
 * </nav>
 */

#site-navigation {
    border-bottom: 1px solid $color-border;

    h5 {
        margin: 0.25em 0 0;
    }

    ul {
        padding: 0;
        list-style: none;
    }

    .active {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            z-index: 2001;
            left: -2em;
            width: 1.5em;
            height: 1.5em;
            border-radius: 0.25em;
            background: rgba($color-link-focus, 0.25);
        }
    }
}
