/* ==========================================================================
   Styling and layout for screen media at 2nd breakpoint
   ========================================================================== */

@media screen and (min-width: $breakpoint) {

    /**
     * Screen size-specific elements.
     */

    .screen-large {
        display: block; // TODO: use `display: revert` when browser support is widespread.
    }

    /**
     * Cells for 3 column layouts are generated.
     *
     * Example HTML:
     *
     * <div class="layout-3col"></div>
     * <div class="layout-3col-2span"></div>
     */

    .layout-3col {
        grid-column: span 4;
    }

    .layout-3col-2span {
        grid-column: span 8;
    }

    /**
     * Remove bottom border from navigation.
     */

    #site-navigation {
        border-bottom: 0;
    }
}
